:root{
    --GoogleSans : "GoogleSans";
}
*{
    padding: 0;
    margin: 0;
}
html, body{
    scrollbar-width: none;
    -ms-overflow-style: none;
}
html::-webkit-scrollbar{
    display: none;
}
body::-webkit-scrollbar{
    display: none;
}
body{
    min-height: 100vh;
    width: 100%;
    background-color: #f3f4ff;

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-row-gap: 1em;

}
h1, p, a{
    font-family: var(--GoogleSans);
    font-style: normal;
    font-weight: 400;
}