:root{
    --standard-border-radius:0.3em;
    --standard-opacity:0.8;
    --standard-btn-height:40px;
    --swayam: #0259ca;
}
.submit{
    width: 100px;
    height: var(--standard-btn-height);
    padding: 0.5rem 1.5rem;
    border: none;
    color: white;
    cursor: pointer;
    background-color: var(--swayam);
    border-radius: var(--standard-border-radius);
    &:hover{
        opacity: var(--standard-opacity);
    }
}
.delete_btn{
    width: 85%;
    height: var(--standard-btn-height);
    padding: 0.5rem 1.5rem;
    margin: 1rem auto;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: var(--standard-border-radius);
    &:hover{
        opacity: var(--standard-opacity);
    }
    &:focus{
        outline: none;
    }
}

div.btn_box{
    display: grid;
    grid-template-columns: 1fr 1fr;

    justify-items: center;
}