.bg_orange{
    background-color: rgb(236, 153, 0);
}

.bg_gold_red{
    background-color: rgb(255, 81, 0);
}

.bg_light_blue{
    background-color: rgb(113, 211, 244);
}

.bg_orange_pink{
    background-color: #FF1365;
}

.bg_dark{
    background-color: #14003C;
}