@media(min-width:340px) and (max-width:540px){
    /* css variables */
    :root{
        --standard-width : 95%;
    
        --aurdino-light-color : whitesmoke;
        --branjel-color : rgba(113, 44, 249, 1);
        --gray-color : gray;
        --white-color : white;
        --table-hover-color:aliceblue;
    
        --standart-fsize : 20px;
        --standard-fweight : bold;
        --standard-ttransform : capitalize;
    }
    
    p{
        text-align: center;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: capitalize;
    }

    form{
        width: var(--standard-width);
        height: 70vh;
        margin: auto;
        padding: 0 0 0 0.5rem;
        background-color: white;
        box-shadow: 1px 1px 5px black;
    }
    label{
        display: block;
        text-transform: var(--standard-ttransform);
        font-size: var(--standard-fsize);
        font-weight: var(--standard-fweight);
        letter-spacing: 0.1rem;
        margin: 1rem 0 0.5rem 0;
    }
    input{
        width: 90%;
        height: 2rem;
        border: none;
        border: 1px solid var(--gray-color);
        text-transform: capitalize;
        &:focus{
            outline: none;
        }
    }
    textarea{
        width: 90%;
        padding: 1px 0 0 1px;
        &:focus{
            outline: none;
        }
    }
    .dash_btn_group{
        width: var(--standard-width);
        height: auto;
        display: flex;
        margin: 1rem auto;
    }
    nav{
        width: 100%;
        height: auto;
        position: fixed;
        bottom: 0;
        padding: 0.5rem 0;
    }
    ul{
        display: flex;
    }
    li{
        list-style: none;
        margin: auto;
    }
    .icon{
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    #counter{
        text-align: center;
    }
    h3{
        background-color: var(--branjel-color);
        color: var(--white-color);
        text-align: center;
        padding: 1rem 0;
    }
    table{
        width: var(--standard-width);
        margin: auto;
    }
    th{
        width: 65%;
        text-align: left;
    }
    td{
        padding: 0.5rem 0;
    }
}