@media(min-width:340px) and (max-width:540px){

    footer{
        width: 90%;
        padding: 0.5rem 0 0;
        border-top:1px solid gainsboro;
        margin: 1rem auto 0 auto;
    }
    .footer_contact_box{
        width: 100%;
        margin: 1.5rem 0 0 0;
    }
    .footer_link_box_container{
        width: 100%;
        padding: 2rem 0;
    }
    .link_box{
        display: flex;
        width: 90%;
        padding: 0.5rem 0;
    }
    .link_icon{
        width: 10%;
        height: 8vw;
        margin: 0 1rem 0 0;
        cursor: pointer;
    }
    .copyright{
        width: 90%;
        padding: 0.5rem 0;
        text-transform: capitalize;
        color: gray;
    }
}