footer.base_footer{
    background-color: #008184;
    padding-left: 0.5rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 3fr 1fr;
    grid-gap: 1em;
}
address.contact , section.social_link h2{
    color: white;
    margin: 0 0 0.5em 0;
    font-style: normal;
}
address.contact p{
    line-height: 1.5em;
}
section.social_link div.link_box{
    display: grid;
    grid-template-columns: repeat(auto-fit, 40px);
    grid-column-gap: 1.5em;
}
div.link_box a img{
    width: 100%;
    height: 100%;
}
#copyright{
    align-self: end;
    justify-self: center;
    color: #eee;
}