:root{
    --standard-border-radius: 0.3em;
    --standard-form-bg-color: rgba(255, 255, 255, 0.756);
}

#admin_form{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: min(350px, 100%);
    min-height: 350px;
    max-height: fit-content;

    background-color: white;
    border: none;
}
#admin_form input{
    width: 90%;
    border: 1px solid gray;
    border-radius: var(--standard-border-radius);
    background-color: transparent;
    font-size: 14px;
    padding: 1em 0;
    &:focus{
        outline: none;
    }
}

#admin_form .btn_box{
    width: 100%;
    margin: 2em 0 0 0;
}