@media(min-width:340px) and (max-width:540px){
    main{
        width: 100%;
        margin: 1rem auto 0 auto;
        background-color: white;
    }
    h1, h3{
        padding: 0 0 0 1rem;
        text-transform: capitalize;
    }
    
    p{
        padding: 0 0.5rem 1rem 1rem;
        line-height: 1.4rem;
    }
    .circular_link_box_container{
        width: 100%;
        display: flex;
        margin: 1rem 0 0 0;
        padding: 2rem 0 0 0;
    }
    .circular_link_box{
        width: 24%;
        height: 24vw;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: auto;
        text-transform: capitalize;
        font-weight: bold;
        cursor: pointer;
        color: black;
    }
    a{
        text-decoration: none;
        color: black;
    }
    .profile_picture_container{
        width: 100%;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 0;
        background:url(https://img.freepik.com/premium-vector/save-trees_379614-63.jpg?w=2000);
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .profile_picture{
        width: 60%;
        height: 60vw;
        background-image: url(/static/profile/ramsundar.jpg);
        background-position: center;
        border-radius: 50%;
    }
}