*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 95%;
    justify-self: center;
}

.hero{
    margin: 5rem 0 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;
    background-color: white;
    padding: 1em 0.5em 0.5em 0.5em;
}

.biodata{
    width: min(100%, 500px);
    justify-self: center;
}

.hero figure{
    width: min(100%, 500px);
    justify-self: center;
    overflow: hidden;
    margin: 0;
}

#profile_picture{
    width: 100%;
    height: min(380px, 50vh);
    object-fit: cover;
    object-position: center 40%;
    display: block;
}

.hero h1{
    margin-bottom: 0.3em;
}

.hero p{
    margin: 0 0 1em 0;
    line-height: 25px;
}


.quick_links{
    margin: 2rem 0 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.quick_link_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    cursor: pointer;
    &:hover{
        opacity: 0.8;
    }
}

.quick_links a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-size: 20px;
}


/* for larger screen */
@media(min-width: 800px){
    main{
        width: 80%;
    }
}