:root{
    --googleSans : "GoogleSans";
}

*{
    margin: 0;
    padding: 0;
}
main{
    width: 100%;
    height: 100%;
    justify-self: center;
    margin-top: 4em;

    display: grid;
    grid-template-columns: subgrid;
    grid-auto-rows: min-content;
}
main h1{
    margin-top: 2em;
}
.landing-page{
    background-color: #2b5b84;

    display: grid;
    grid-template-rows: subgrid;
    grid-template-columns: 1fr 1fr;

    overflow: hidden;
}
.short-intro{
    width: 100%;
    height: 100%;
    justify-items: end;
    align-content: center;
}
.intro-main p{
    color: white;
    line-height: 30px;
    font-family: var(--googleSans);
}
.intro-main button{
    padding: 0.5em 1em;
    background-color: transparent;
    border: none;
    background-color: #ffd343;
    box-shadow: 0px 0px .5em #ffd343;
    cursor: pointer;
    font-family: var(--googleSans);
    transition: transform 0.5s ease;
    &:hover{
        transform: scale(1.2);
    }
}
.intro-main p span{
    color: #ffd343;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 0.1em;
}
.landing-page figure{
    width: 90%;
    height: 100%;
}
.landing-page img{
    width: min(350px, 100%);
    height: min(350px, 100%);
    object-fit: contain;
}
h1{
    font-family: var(--googleSans);
    text-align: center;
    padding: 1em 0;
}
.hero{
    width: 90%;
    height: 100%;

    justify-self: center;

    display: grid;
    grid-template-columns: 1fr;
    
}
.biodata{
    width: 100%;
    height: 100%;
    justify-self: center;
}
.hero p{
    line-height: 25px;
    font-family: var(--googleSans);
}
.my-skill{
    width: 90%;
    height: 100%;
    justify-self: center;

    display: grid;
    grid-template-columns: repeat(auto-fit, 50px);
    grid-row-gap: .4em;
    justify-content: space-evenly;
}
.skill{
    width: 100%;
    height: 50px;
    border-radius: .3em;
    background-color: #caccce;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    transition: transform 0.3s ease;
    &:hover{
        transform: scale(1.1) rotate(10deg);
        box-shadow: 0px 0px .8em lightblue;
    }
}
.skill img{
    width: 25px;
    height: 25px;
    object-fit: cover;
}
.recent-activity{
    justify-self: center;

    width: 90%;
    height: 100%;

    padding: .5em 0;

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 190px;
    grid-gap: 0.5em;
    overflow-x: auto;
}
.activity{
    width: 100%;
    height: 120px;
    background-color: #caccce;
    box-shadow: 0px 0px 5px #caccce;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}
.quick_links{
    width: 90%;
    justify-self: center;
    margin: 2rem 0 0 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
}
.quick_link_box{
    justify-self: center;

    height: 100px;
    width: min(400px, 100%);
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    cursor: pointer;

    transition: transform .3s ease;
}
.quick_links a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-family: var(--googleSans);
}
#resume{
    background-color: rgb(254, 170, 14);
    &:hover{
        transform: scale(1.1);
        box-shadow: 0px 0px .5em rgb(254, 170, 14);
    }
}
#projects{
    background-color: rgba(255, 68, 0, 0.909);
    &:hover{
        transform: scale(1.1);
        box-shadow: 0px 0px .5em rgba(255, 68, 0, 0.909);
    }
}
#acheivements{
    background-color: lightgreen;
    &:hover{
        transform: scale(1.1);
        box-shadow: 0px 0px .5em lightgreen;
    }
}


/* for larger screen */
@media(min-width: 800px){
    main{
        width: 80%;
    }
}