@media(min-width:340px) and (max-width:540px){
    nav{
        width: 100%;
        padding: 1rem 0;
        display: flex;
        text-transform: capitalize;
    }
    .logo{
        width: 40%;
        font-size: 1.5rem;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        border-left: 0.7rem solid orange;
        padding: 0 0 0 0.5rem;
    }
    ul{
        display: none;
        width: 60%;
        margin: auto;
    }
    li{
        list-style: none;
        margin: auto;
    }
}