@media(min-width:340px) and (max-width:540px){
    main{
        width: 100%;
        height: 70vh;
        margin: 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
    }
    h2{
        text-transform: capitalize;
        text-align: center;
    }
    .project_card{
        width: 90%;
        height: auto;
        margin:2rem 0 0 0;
        border: 1px solid black;
        padding: 0.5rem 0 0 0;
    }
    .project_title{
        text-transform: uppercase;
        text-align: center;
        color: blue;
        font-weight: bold;
    }
    .project_description{
        width: 90%;
        height: auto;
        padding: 1rem 0;
        margin: auto;
        line-height: 1.4rem;
    }
    .project_image{
        width: 100%;
        height: 40vw;
    }
    
    label{
        display: block;
        margin: 1rem 0 0 0;
        font-size: 1.5rem;
        text-transform: capitalize;
    }
    input{
        width: 90%;
        height: 10vw;
    }
    textarea{
        width: 90%;
        margin-bottom: 1rem;
    }
    button{
        padding: 0.5rem 2rem;
        margin: 0 0 0 1.5rem;
    }
}