{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/css/nav.css">
    <style>
        .grid_container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 1rem;
        }
        .items{
            height: 100px;
            background-color: blue;
        }
    </style>
{% endblock head %}

{% block content %}
<div class="grid_container">
    <div class="items">box_1</div>
    <div class="items">box_2</div>
    <div class="items">box_3</div>
    <div class="items">box_4</div>
    <div class="items">box_5</div>
    <div class="items">box_6</div>
    <div class="items">box_7</div>
    <div class="items">box_8</div>
    <div class="items">box_9</div>
</div>
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block scripts %}
{% endblock scripts %}