{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/css/admin.css">
    <link rel="stylesheet" href="/static/css/form.css">
    <link rel="stylesheet" href="/static/css/buttons.css">
    <link rel="stylesheet" href="/static/css/popup.css">
    <title>Admin</title>
{% endblock head %}

{% block nav %} 
{% endblock nav %}

{% block content %}
<main class="admin_main">
    <video autoplay muted loop id="video_background">
        <source src="/static/video/178908-860734672.mp4" type="video/mp4">
    </video>

    <div class="overlay"></div>

    <form action="{{ url_for('admin_login') }}" method="POST" id="admin_form">
        {% if error %}
            <div class="error" id="popup">{{ error }}</div>
        {% endif %}

        <h1>Login</h1>

        <input type="text" name="username" placeholder="Username" required>

        <input type="password" name="password" placeholder="Password" required>

        <div class="btn_box">
            <button class="submit" type="submit" style="background-color: black;">login</button>
            <button class="submit" type="reset" style="background-color: black;">clear</button>
        </div>
    </form>
</main>
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block script %}
<script src="/static/scripts/admin.js"></script>
{% endblock script %}