<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% block head %}  
    {% endblock head %}
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/font.css">
</head>
<body>
    <!-- header here -->
    {% block header %}  
    {% endblock header %}

    <!-- main content block -->
    {% block content %}   
    {% endblock %}
    
    <!-- footer here -->
    {% block footer %}   
    {% endblock footer %}

    <!-- script block -->
    {% block script %}
    {% endblock script %}
</body>
</html>